body{
    background-color:rgb(241,212,122);
    margin: 0;
    font-family:'Mitr', sans-serif;
}

* {
    box-sizing: border-box;
}

.topnav {
    overflow: hidden;
    background-size: cover;
    position: relative;
   background-color: rgb(42, 155,152);
    
    
    a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 14px;
        
      }

    a:hover {
        color: rgb(155,185,50) ;
      }

    .icon {
        display: none;
    }
    
    .iconos{
      float: right;
      padding-right: 20px;

       img{
            width: 30px;
            height: 28px;
        }
    }
  }

  .fondo {

    position: relative;
    width: 100%;
    max-width: 400px;

    img {
      width: 1500px;
      height: auto;
      padding-left:30px; 
     
    }

}